{% extends "index.html" %}
{% block head_refresh %}
    <meta http-equiv="Refresh" Content="300"/>
{% endblock %}
{% block page-content %}
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <!--Registered User-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <div class="panel media pad-all">
                        <div class="media-left">
									<span class="icon-wrap icon-wrap-sm icon-circle bg-success">
									<i class="fa fa-calendar-o fa-2x"></i>
									</span>
                        </div>

                        <div class="media-body">
                            <h3 class="mar-no text-thin"><b id="system-timer"></b></h3>
                            <p class="text-muted mar-no">当前时间(数据每5分钟刷新一次)</p>
                        </div>
                    </div>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                </div>
                <div class="col-sm-6 col-lg-4">
                    <!--Sales-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <div class="panel media pad-all">
                        <div class="media-left">
									<span class="icon-wrap icon-wrap-sm icon-circle bg-danger">
									<i class="fa fa-dollar fa-2x"></i>
									</span>
                        </div>
                        <div class="media-body">
                            <div class="col-lg-6">
                                <p class="text-2x mar-no text-thin">{{ data_dict.un_R_xt_amount }}</p>
                                <p class="text-muted mar-no">非自动续投投资金额</p>
                            </div>
                            <div class="col-lg-6">
                                {% if data_dict.amount_compare > 0 %}
                                    <div class="pull-left"
                                         style="color: green;font-size: larger;margin-top: 13px;margin-right: 10px;">
                                        <b>+{{ data_dict.amount_compare }}%</b>
                                    </div>
                                    <div class="pull-left" style="color: green;margin-top: 5px;">
                                        <i class="fa fa-toggle-up fa-3x" aria-hidden="true"></i>
                                    </div>
                                {% elif data_dict.amount_compare < 0 %}
                                    <div class="pull-left"
                                         style="color: red;font-size: larger;margin-top: 13px;margin-right: 10px;">
                                        <b>{{ data_dict.amount_compare }}%</b>
                                    </div>
                                    <div class="pull-left" style="color: red;margin-top: 5px;">
                                        <i class="fa fa-toggle-down fa-3x" aria-hidden="true"></i>
                                    </div>
                                {% else %}
                                    <div class="pull-left"
                                         style="color: green;font-size: larger;margin-top: 13px;margin-right: 10px;">
                                        <b>持平</b>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                </div>
            </div>
            <hr>
            <div class="row">
                <div id="people-info" class="pull-left" style="width: 700px;height: 400px;margin: 20px;"></div>
                <div id="invest-info" class="pull-left" style="width: 700px;height: 400px;margin: 20px;"></div>
            </div>
            <hr>
            <div class="row">
                <div class="eq-height">
                    <div class="col-md-12 col-lg-4 eq-box-lg">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">总待收金额(亿)</h3>
                            </div>
                            <!-- Gauge JS -->
                            <!--===================================================-->
                            <div class="panel-body">
                                <div class="text-center">
                                    <!--Gauge placeholder-->
                                    <canvas id="pending-gauge" height="70" class="canvas-responsive"></canvas>
                                    <p class="h4">
                                        <span id="pending-gauge-txt" class="label label-primary"></span>
                                    </p>
                                </div>
                            </div>
                            <!--===================================================-->
                            <!-- End Gauge JS -->
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 eq-box-lg">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">总投资金额(万)</h3>
                            </div>
                            <!-- Gauge JS -->
                            <!--===================================================-->
                            <div class="panel-body">
                                <div class="text-center">
                                    <!--Gauge placeholder-->
                                    <canvas id="invest-gauge" height="70" class="canvas-responsive"></canvas>
                                    <p class="h4">
                                        <span id="invest-gauge-txt" class="label label-primary"></span>
                                    </p>
                                </div>
                            </div>
                            <!--===================================================-->
                            <!-- End Gauge JS -->
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 eq-box-lg">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">总充值金额(万)</h3>
                            </div>
                            <!-- Gauge JS -->
                            <!--===================================================-->
                            <div class="panel-body">
                                <div class="text-center">
                                    <!--Gauge placeholder-->
                                    <canvas id="recharge-gauge" height="70" class="canvas-responsive"></canvas>
                                    <p class="h4">
                                        <span id="recharge-gauge-txt" class="label label-primary"></span>
                                    </p>
                                </div>
                            </div>
                            <!--===================================================-->
                            <!-- End Gauge JS -->
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 eq-box-lg">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">总提现金额(万)</h3>
                            </div>
                            <!-- Gauge JS -->
                            <!--===================================================-->
                            <div class="panel-body">
                                <div class="text-center">
                                    <!--Gauge placeholder-->
                                    <canvas id="withdraw-gauge" height="70" class="canvas-responsive"></canvas>
                                    <p class="h4">
                                        <span id="withdraw-gauge-txt" class="label label-primary"></span>
                                    </p>
                                </div>
                            </div>
                            <!--===================================================-->
                            <!-- End Gauge JS -->
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 eq-box-lg">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">总收益(万)</h3>
                            </div>
                            <!-- Gauge JS -->
                            <!--===================================================-->
                            <div class="panel-body">
                                <div class="text-center">
                                    <!--Gauge placeholder-->
                                    <canvas id="income-gauge" height="70" class="canvas-responsive"></canvas>
                                    <p class="h4">
                                        <span id="income-gauge-txt" class="label label-primary"></span>
                                    </p>
                                </div>
                            </div>
                            <!--===================================================-->
                            <!-- End Gauge JS -->
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 eq-box-lg">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">站岗资金(万)</h3>
                            </div>
                            <!-- Gauge JS -->
                            <!--===================================================-->
                            <div class="panel-body">
                                <div class="text-center">
                                    <!--Gauge placeholder-->
                                    <canvas id="balance-gauge" height="70" class="canvas-responsive"></canvas>
                                    <p class="h4">
                                        <span id="balance-gauge-txt" class="label label-primary"></span>
                                    </p>
                                </div>
                            </div>
                            <!--===================================================-->
                            <!-- End Gauge JS -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <!-- 更新系统时间js开始 -->
    <script>
        $(function () {
            var dateObj = new Date(); //当前时间
            $("#system-timer").text(dateObj.toLocaleString());
            setInterval(function () {
                var dateObj = new Date(); //当前时间
                $("#system-timer").text(dateObj.toLocaleString());
            }, 1000)
        })
    </script>
    <!-- 更新系统时间js结束 -->

    <!-- 用户数据统计js开始 -->
    <script>
        var dom = document.getElementById("people-info");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        app.title = '用户数据统计';

        option = {
            title: {
                text: '用户数据统计',
                subtext: '当天实时'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            xAxis: {
                type: 'value',
                splitLine: {
                    show: false
                }
            },
            yAxis: {
                type: 'category',
                data: ['投资用户数', '充值用户数', '绑卡用户数', '实名用户数', '注册用户数']
            },
            series: [
                {
                    type: 'bar',
                    data: [
                        {
                            value: {{ data_dict.un_R_xt_person_num }},
                            itemStyle: {
                                normal: {color: '#239b22'}
                            }
                        }, {
                            value: {{ data_dict.recharge_num }},
                            itemStyle: {
                                normal: {color: '#009789'}
                            }
                        }, {
                            value: {{ data_dict.real_names_num }},
                            itemStyle: {
                                normal: {color: '#e51b23'}
                            }
                        }, {
                            value: {{ data_dict.real_names_num }},
                            itemStyle: {
                                normal: {color: '#fd4081'}
                            }
                        },
                        {
                            value: {{ data_dict.registered_num }},
                            itemStyle: {
                                normal: {color: '#3e50b5'}
                            }
                        }],
                    label: {
                        normal: {
                            show: true,
                            position: 'inside',
                            formatter: '{c}人',
                            fontSize: 13,  //文字大小
                            fontWeight: 'bold'  //文字粗细
                        }
                    }
                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
    <!-- 用户数据统计js结束 -->

    <!-- 投资金额统计js开始 -->
    <script type="text/javascript">
        var dom = document.getElementById("invest-info");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        app.title = '折柱混合';
        option = {
            title: {
                text: "投资金额统计", //正标题
                subtext: '当天实时'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['供应链金融', '消费金融'],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        formatter: '{value} 万'
                    },
                    splitLine: {
                        show: false
                    }
                }
            ],
            series: [
                {
                    type: 'bar',
                    barWidth: 100,//柱图宽度
                    data: [{
                        value: {{ data_dict.supply_chain_amount }},
                        itemStyle: {
                            normal: {color: '#ed4832'}
                        }
                    }, {
                        value: {{ data_dict.consumer_amount }},
                        itemStyle: {
                            normal: {color: '#369dc9'}
                        }
                    }],
                    label: {
                        normal: {
                            show: true,
                            position: 'top',
                            formatter: '{c}万',
                            fontSize: 15,  //文字大小
                            fontWeight: 'bold'  //文字粗细
                        }
                    }
                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
    <!-- 投资金额统计js结束 -->

    <!-- 底部仪表数据js开始 -->
    <script>
        $(function () {
            // GAUGE JS
            // =================================================================
            // Require GaugeJS
            // -----------------------------------------------------------------
            // http://bernii.github.io/gauge.js/
            // =================================================================
            // 总待收金额
            var pendingTarget = document.getElementById('pending-gauge'); // your canvas element
            var pendingGauge = new Gauge(pendingTarget).setOptions({
                lines: 10, // The number of lines to draw
                angle: 0, // The length of each line
                lineWidth: 0.3, // The line thickness
                pointer: {
                    length: 0.45, // The radius of the inner circle
                    strokeWidth: 0.035, // The rotation offset
                    color: '#242d3c' // Fill color
                },
                limitMax: 'true', // If true, the pointer will not go past the end of the gauge
                colorStart: '#9cc96b', // Colors
                colorStop: '#9cc96b', // just experiment with them
                strokeColor: '#ddd', // to see which ones work best for you
                generateGradient: true
            }); // create sexy gauge!
            pendingGauge.maxValue = {{data_dict.amount}}+20; // set max gauge value
            pendingGauge.animationSpeed = 32; // set animation speed (32 is default value)
            pendingGauge.set({{data_dict.amount}}); // set actual value
            pendingGauge.setTextField(document.getElementById("pending-gauge-txt"));

            // 总投资金额
            var investTarget = document.getElementById('invest-gauge'); // your canvas element
            var investGauge = new Gauge(investTarget).setOptions({
                lines: 10, // The number of lines to draw
                angle: 0, // The length of each line
                lineWidth: 0.3, // The line thickness
                pointer: {
                    length: 0.45, // The radius of the inner circle
                    strokeWidth: 0.035, // The rotation offset
                    color: '#242d3c' // Fill color
                },
                limitMax: 'true', // If true, the pointer will not go past the end of the gauge
                colorStart: '#f76c51', // Colors
                colorStop: '#f76c51', // just experiment with them
                strokeColor: '#ddd', // to see which ones work best for you
                generateGradient: true
            }); // create sexy gauge!
            investGauge.maxValue = {{data_dict.amount}}+2000; // set max gauge value
            investGauge.animationSpeed = 32; // set animation speed (32 is default value)
            investGauge.set({{data_dict.amount}}); // set actual value
            investGauge.setTextField(document.getElementById("invest-gauge-txt"));

            // 总充值金额
            var rechargeTarget = document.getElementById('recharge-gauge'); // your canvas element
            var rechargeGauge = new Gauge(rechargeTarget).setOptions({
                lines: 10, // The number of lines to draw
                angle: 0, // The length of each line
                lineWidth: 0.3, // The line thickness
                pointer: {
                    length: 0.45, // The radius of the inner circle
                    strokeWidth: 0.035, // The rotation offset
                    color: '#242d3c' // Fill color
                },
                limitMax: 'true', // If true, the pointer will not go past the end of the gauge
                colorStart: '#177bbb', // Colors
                colorStop: '#177bbb', // just experiment with them
                strokeColor: '#ddd', // to see which ones work best for     you
                generateGradient: true
            }); // create sexy gauge!
            rechargeGauge.maxValue = {{ data_dict.recharge_money }}+1000; // set max gauge value
            rechargeGauge.animationSpeed = 32; // set animation speed (32 is default value)
            rechargeGauge.set({{ data_dict.recharge_money }}); // set actual value
            rechargeGauge.setTextField(document.getElementById("recharge-gauge-txt"));

            // 总提现金额
            var withdrawTarget = document.getElementById('withdraw-gauge'); // your canvas element
            var withdrawGauge = new Gauge(withdrawTarget).setOptions({
                lines: 10, // The number of lines to draw
                angle: 0, // The length of each line
                lineWidth: 0.3, // The line thickness
                pointer: {
                    length: 0.45, // The radius of the inner circle
                    strokeWidth: 0.035, // The rotation offset
                    color: '#242d3c' // Fill color
                },
                limitMax: 'true', // If true, the pointer will not go past the end of the gauge
                colorStart: '#ebaa4b', // Colors
                colorStop: '#ebaa4b', // just experiment with them
                strokeColor: '#ddd', // to see which ones work best for     you
                generateGradient: true
            }); // create sexy gauge!
            withdrawGauge.maxValue = {{data_dict.withdraw_money}}+1000; // set max gauge value
            withdrawGauge.animationSpeed = 32; // set animation speed (32 is default value)
            withdrawGauge.set({{data_dict.withdraw_money}}); // set actual value
            withdrawGauge.setTextField(document.getElementById("withdraw-gauge-txt"));

            // 总收益
            var incomeTarget = document.getElementById('income-gauge'); // your canvas element
            var incomeGauge = new Gauge(incomeTarget).setOptions({
                lines: 10, // The number of lines to draw
                angle: 0, // The length of each line
                lineWidth: 0.3, // The line thickness
                pointer: {
                    length: 0.45, // The radius of the inner circle
                    strokeWidth: 0.035, // The rotation offset
                    color: '#242d3c' // Fill color
                },
                limitMax: 'true', // If true, the pointer will not go past the end of the gauge
                colorStart: '#4ebcda', // Colors
                colorStop: '#4ebcda', // just experiment with them
                strokeColor: '#ddd', // to see which ones work best for     you
                generateGradient: true
            }); // create sexy gauge!
            incomeGauge.maxValue = 6000; // set max gauge value
            incomeGauge.animationSpeed = 32; // set animation speed (32 is default value)
            incomeGauge.set({{data_dict.amount}}); // set actual value
            incomeGauge.setTextField(document.getElementById("income-gauge-txt"));

            // 站岗资金
            var balanceTarget = document.getElementById('balance-gauge'); // your canvas element
            var balanceGauge = new Gauge(balanceTarget).setOptions({
                lines: 10, // The number of lines to draw
                angle: 0, // The length of each line
                lineWidth: 0.3, // The line thickness
                pointer: {
                    length: 0.45, // The radius of the inner circle
                    strokeWidth: 0.035, // The rotation offset
                    color: '#242d3c' // Fill color
                },
                limitMax: 'true', // If true, the pointer will not go past the end of the gauge
                colorStart: '#bb85a0', // Colors
                colorStop: '#bb85a0', // just experiment with them
                strokeColor: '#ddd', // to see which ones work best for     you
                generateGradient: true
            }); // create sexy gauge!
            balanceGauge.maxValue = 6000; // set max gauge value
            balanceGauge.animationSpeed = 32; // set animation speed (32 is default value)
            balanceGauge.set({{data_dict.amount}}); // set actual value
            balanceGauge.setTextField(document.getElementById("balance-gauge-txt"));
        })
    </script>
    <!-- 底部仪表数据js结束 -->
{% endblock %}