{% extends "index.html" %}
{% load automatic_tags %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">数据查询功能</li>
    </ol>
{% endblock %}
{% block page-content %}
    <div class="panel panel-bordered panel-mint">
        <div class="panel-heading">
            <h3 class="panel-title">可用查询功能</h3>
        </div>
        <div class="panel-body">
            <form id="base-form" method="get">
                <div class="row">
                    <div class="dataTables_length" id="demo-dt-basic_length">
                        <label style="margin-left: 12px;">显示
                            <select name="list_per_page" class="form-control input-sm" id="list_per_page">
                                {% for per_page_value in condition_dict.list_per_page.0 %}
                                    {% if per_page_value == condition_dict.list_per_page.1 %}
                                        <option value="{{ per_page_value }}"
                                                selected="selected">{{ per_page_value }}</option>
                                    {% else %}
                                        <option value="{{ per_page_value }}">{{ per_page_value }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>条
                        </label></div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="searchbox" style="float: left;">
                        <div class="input-group custom-search-form">
                            <input type="text" name="search_q" class="form-control" id="search_q"
                                   placeholder="可根据关键字检索您想要的查询内容" value="{{ condition_dict.search_q }}">
                            <span class="input-group-btn">
                            <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-rounded" value="检索" style="margin-left: 20px;">
                    <b>PS:为空可检索所有查询内容</b>
                </div>
            </form>
            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">序号</th>
                            <th>查询内容</th>
                            <th>标签</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sql_record_obj in sql_record_objs %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td><a href="/automatic/table_search_detail/{{ sql_record_obj.id }}/"
                                       class="btn-link">{{ sql_record_obj.name }}</a></td>
                                <td>
                                    {% if sql_record_obj.tags.all %}
                                        {% for tag in sql_record_obj.tags.all %}
                                            <span class="label label-info">{{ tag.name }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                总计:{{ sql_record_objs.paginator.count }}个可用查询功能
            </div>
            <!-- 表格脚部开始 -->
            <div class="row">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% get_page_ele sql_record_objs %}
                    </ul>
                </nav>
            </div>
            <!-- 表格脚部结束 -->
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $("#list_per_page").change(function () {
                $("#base-form").submit();
            })
        })
    </script>
{% endblock %}