{% extends "index.html" %}
{% load automatic_tags %}
{% block css %}
    <style>
        .search-container {
            position: absolute;
            width: 100%;
            background-color: white;
        }

        .search-container .search-line {
            text-align: center;
            cursor: pointer;
        }

        .search-container .search-line:hover {
            background-color: #2f72ab;
            color: white;
        }
    </style>
{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/automatic/search_table_list/">数据查询功能</a></li>
        <li class="active">详细查询页面</li>
    </ol>
{% endblock %}
{% block page-content %}
    <div class="panel panel-bordered panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <b>{{ sql_record_obj.name }}查询</b>
                {% for func in sql_record_obj.funcs.all %}
                    {% if func.name == "update_first_invest" %}
                        <a class="btn btn-warning  btn-rounded" href="http://10.1.1.105:9008/crm/rzjf_recorde/"
                           target="_blank">更新至实时首投记录</a>
                    {% endif %}
                {% endfor %}
                {% render_download_option request sql_record_obj condition_dict order_by_dict %}
            </h3>
        </div>
        <div class="panel-body">
            <form method="get" id="base-form">
                {% for k, v in table_form_obj.errors.items %}
                    <div class="alert alert-danger fade in">
                        <button class="close" data-dismiss="alert"><span>×</span></button>
                        <strong>{{ k }}</strong> {{ v }}
                    </div>
                {% endfor %}
                <!-- 表格头部开始 -->
                <div class="row">
                    <div class="dataTables_length" id="demo-dt-basic_length">
                        <label>显示{{ table_form_obj.list_per_page }}条
                        </label></div>
                </div>
                {% if "search_q" in table_form_obj.base_fields.keys %}
                    <div class="row" style="margin-top: 10px;">
                        <div class="searchbox">
                            <div class="input-group custom-search-form">
                                {{ table_form_obj.search_q }}
                                <span class="input-group-btn">
                            <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
                        </span>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row" style="margin-top: 10px;">
                    {% for field in table_form_obj %}
                        {% if field.name != "search_q" and field.name != "list_per_page" %}
                            {% if field.name == "qudao_name" %}
                                <div class="col-sm-3" style="padding: 0; margin-right: 10px;">
                                    <div class="form-group text-center">
                                        <label class="control-label"><b>{{ field.label }}</b></label>
                                        {{ field }}
                                        <div id="search-cont" class="search-container"></div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-sm-3" style="padding: 0; margin-right: 10px;">
                                    <div class="form-group text-center">
                                        <label class="control-label"><b>{{ field.label }}</b></label>
                                        {{ field }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <input type="submit" class="btn btn-primary btn-rounded" value="查询" style="margin-top: 20px;">
                </div>
                <!-- 表格头部结束 -->
            </form>
            <!-- 表格开始 -->
            <div class="row table-responsive">
                <table class="table table-striped table-bordered dataTable no-footer dtr-inline">
                    <thead>
                    <tr role="row">
                        <!-- <th class="sorting_desc">Position</th> -->
                        <th class="text-center" style='white-space:nowrap'>序号</th>
                        {% get_table_head query_sets condition_dict order_by_dict %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in query_sets %}
                        <tr role="row">
                            <td class="text-center" style='white-space:nowrap'>{{ forloop.counter }}</td>
                            {% get_table_rows request row %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- 表格结束 -->
            总计:{{ query_sets.paginator.count }}条
            <!-- 表格脚部开始 -->
            <div class="row">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% get_page_ele query_sets condition_dict order_by_dict %}
                    </ul>
                </nav>
            </div>
            <!-- 表格脚部结束 -->
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $("#list_per_page").change(function () {
                $("#base-form").submit();
            });
            //等待用户不输入 1 秒后再去执行 loadData
            var loseInputMillsecs = 1000;
            var clocker = null;

            function loadData() {
                var qudaoName = $("#qudao-name").val();
                if (qudaoName) {
                    $.ajax({
                        url: "/automatic/search_channel_name/",
                        type: "POST",
                        data: {"qudaoName": qudaoName},
                        dataType: "JSON",
                        traditional: true,
                        success: function (obj) {
                            if (obj.status) {
                                $("#search-cont").empty();
                                for (var i = 0; i < obj.data.length; i++) {
                                    $("#search-cont").append("<p class='search-line'>" + obj.data[i]["name"] + "</p>")
                                }
                            }
                        }
                    })
                }
                clocker = null;
            }

            // 此函数用来创建计时器，如果用户在规定时间内连续敲击键盘则清空计时器，重新计时
            function innerKeydown() {
                if (null == clocker) {
                    clocker = setTimeout(loadData, loseInputMillsecs);
                }
                else	//连续击键，重新开始计时
                {
                    clearTimeout(clocker);
                    clocker = setTimeout(loadData, loseInputMillsecs);
                }
            }

            // 监测用户键盘输入
            $("#qudao-name").keydown(function () {
                innerKeydown();
            });

            // 用户选取下拉框内容
            $("#search-cont").delegate(".search-line", "click", function () {
                $("#search-cont").empty();
                var qudaoName = $(this).text();
                $("#qudao-name").val(qudaoName);
            });
        })
    </script>
{% endblock %}