{% extends "index.html" %}
{% load automatic_tags %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">用户中心</li>
    </ol>
{% endblock %}
{% block page-content %}
    <div class="panel panel-success panel-bordered">

        <!--Panel heading-->
        <div class="panel-heading">
            <div class="panel-control pull-left">
                <ul class="nav nav-tabs">
                    <li class="">
                        <a data-toggle="tab" href="#tabs2-box-1" aria-expanded="false">
                            <i class="fa fa-user fa-lg"></i>
                            个人信息
                        </a>
                    </li>
                    <li class="active">
                        <a data-toggle="tab" href="#tabs2-box-2" aria-expanded="true">
                            <i class="fa fa-file-text fa-lg"></i>
                            下载记录查看
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--Panel Body-->
        <div class="panel-body">
            <div class="tab-content container-fluid">
                <div id="tabs2-box-1" class="tab-pane fade">
                    <h4 class="text-thin"><i class="fa fa-user fa-fw"></i>开发中</h4>
                    <p>开发中</p>
                </div>
                <div id="tabs2-box-2" class="tab-pane fade  active in">
                    <div class="row">
                        <div class="alert alert-danger media fade in">
                            <div class="media-left">
                                <span class="icon-wrap icon-wrap-xs icon-circle alert-icon">
                                    <i class="fa fa-bolt fa-lg"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <h4 class="alert-title">友情提示</h4>
                                <p class="alert-message">最新下载记录默认在第一个</p>
                            </div>
                        </div>
                        {% for download_obj in download_objs %}
                            <div style="float: left;width: 150px;
                            margin-right: 20px;margin-bottom: 20px;text-align: center;border: 1px solid #dddddd;position: relative;">
                                <h5><b>{{ download_obj.download_detail | safe }}</b></h5>
                                <a href="{{ download_obj.detail_url }}">
                                    <img src="/static/img/excel.ico" alt="" style="width: 100px;height: 100px;">
                                </a>
                                <h5>记录生成时间</h5>
                                <h5>
                                    {{ download_obj.date|date:"Y-m-d H:i:s" }}
                                    {% if download_obj.check_status == 1 %}
                                        <a href="{{ download_obj.download_url }}"
                                           class="btn btn-primary btn-rounded btn-xs" style="margin-top: 5px;">
                                            下载
                                        </a>
                                    {% elif download_obj.check_status == 0 %}
                                        <a class="btn btn-info btn-rounded btn-xs" disabled style="margin-top: 5px;">
                                            未审核
                                        </a>
                                    {% else %}
                                        <a class="btn btn-danger btn-rounded btn-xs" disabled style="margin-top: 5px;">
                                            审核不通过
                                        </a>
                                    {% endif %}
                                </h5>
                                <button download_record_id="{{ download_obj.id }}"
                                        class="demo-delete-row btn btn-danger btn-xs btn-icon fa fa-times delete-download-record"
                                        style="position: absolute;top:-15px;right: -15px;"></button>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        总计:{{ download_objs.paginator.count }}个下载记录
                    </div>
                    <!-- 表格脚部开始 -->
                    <div class="row">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {% get_page_ele download_objs %}
                            </ul>
                        </nav>
                    </div>
                    <!-- 表格脚部结束 -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $(".delete-download-record").click(function () {
                var download_record_id = $(this).attr("download_record_id");
                var delete_download_record_url = "/automatic/delete_download_record/" + download_record_id + "/";
                swal({
                        title: "确定删除吗?",
                        text: "您将要删除该下载记录!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定!",
                        cancelButtonText: "取消!",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                url: delete_download_record_url,
                                type: "POST",
                                dataType: "JSON",  // 内部会自动将返回的数据用JSON解析
                                success: function (obj) {
                                    if (obj.status) {
                                        swal({
                                                title: "删除成功!",
                                                text: "已成功删除该下载记录!",
                                                type: "success",
                                                confirmButtonText: "OK",
                                                closeOnConfirm: false
                                            },
                                            function () {
                                                location.href = "/automatic/user_center.html"
                                            });
                                    } else {
                                        swal("Ops!", obj.error, "warning");
                                    }
                                }
                            });
                        } else {
                            swal("已取消", "祝您愉快 :)", "error");
                        }
                    });
            })
        })
    </script>
{% endblock %}