<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/static/build/img/favicon.ico">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/build/css/commons.css"/>
    <link rel="stylesheet" href="/static/build/css/backend.css"/>
    {% block css %} {% endblock %}
</head>
<body>
<!-- 后台管理头部开始 -->
<div class="pg-header">
    <div class="logo left" style="text-align: center;background-color: #1c5a9c;">
        <a href="#" style="color: #ffffff;font-size:30px;font-weight: bold;text-decoration: none">
            后台管理
        </a>
    </div>

    <div class="left-menu left">
        <a class="menu-item" href="/crm/daily/" target="_blank">日报页面</a>
    </div>

    <div class="right-menu right clearfix">

        <div class="user-info right">
            <a href="#" class="avatar">
                <img id="tx1" class="img-circle" src="{{ userobj.avatar.url }}">
            </a>

            <div class="more-info">
                <a href="/backend/base_info/" class="more-item">个人信息</a>
                <a href="/backend/logout/" class="more-item">注销</a>
            </div>
        </div>

        <a class="user-menu right">
            消息
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
            <span class="badge bg-success">2</span>
        </a>

        <a class="user-menu right">
            通知
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <span class="badge bg-success">2</span>
        </a>

        <a class="user-menu right">
            任务
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <span class="badge bg-danger">4</span>
        </a>
    </div>

</div>
<!-- 后台管理头部结束 -->

<!-- 后台管理body开始 -->
<div class="pg-body">
    <!-- 后台管理菜单开始 -->
    <div class="menu">
        <div class="my-menu-line">
            <div class="my-menu-title">
                <p>
                    <span class="pull-left">首页</span>
                    <span class="pull-right chevron-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    <span class="pull-right chevron-down hidden">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </span>
                </p>
            </div>
            <div class="my-menu-content">
                <p><a href="#">仪表盘</a></p>
                <p><a href="#">详情</a></p>
            </div>
        </div>

        <div class="my-menu-line">
            <div class="my-menu-title">
                <p>
                    <span class="pull-left">运营数据</span>
                    <span class="pull-right chevron-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    <span class="pull-right chevron-down hidden">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </span>
                </p>
            </div>
            <div class="my-menu-content">
                <p><a href="#">基本</a></p>
                <p><a href="#">详情</a></p>
            </div>
        </div>

        <div class="my-menu-line">
            <div class="my-menu-title">
                <p>
                    <span class="pull-left">推广数据</span>
                    <span class="pull-right chevron-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    <span class="pull-right chevron-down hidden">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </span>
                </p>
            </div>
            <div class="my-menu-content">
                <p><a href="#">实名数据</a></p>
                <p><a href="#">首投数据</a></p>
            </div>
        </div>
    </div>
    <!-- 后台管理菜单结束 -->

    <!-- 后台管理内容开始 -->
    <div class="content">
        {% block conent %} {% endblock %}
    </div>
    <!-- 后台管理内容结束 -->
</div>
<!-- 后台管理body结束 -->
<script src="/static/plugins/jquery-1.12.4.js"></script>
<script src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script>
    $(function () {
        $(".my-menu-title").click(function () {
            $(this).children().children(".chevron-right").toggleClass("hidden").next().toggleClass("hidden");
            $(this).next(".my-menu-content").slideToggle(300).parent().siblings().each(function () {
                $(this).children(".my-menu-title").children().children(".chevron-right").removeClass("hidden").next().addClass("hidden");
                $(this).children(".my-menu-content").slideUp(500);
            });
        })
    })
</script>
{% block js %}{% endblock %}
</body>
</html>