<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>人众日报</title>
    <link rel="shortcut icon" href="/static/build/img/favicon.ico">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" href="/static/build/css/daily.css">
</head>
<body>
<div class="daily-content">
    <div id="page1" class="daily-container">
        <div class="head">
            <div class="daily-tag left">
                <img src="/static/build/img/daily_tag.png" alt="">
            </div>
            <h1 class="title left">总览</h1>
            <img class="rz-log right" src="/static/build/img/rz_log.png" alt="">
            <form action="/crm/daily/#page1" method="POST">
                {% csrf_token %}
                <input id="search-daily" type="submit" class="right search" value="查询">
                {{ qdate.qdate }}
            </form>
            <div class="clear"></div>
        </div>
        <div class="body">
            <div class="info left" style="margin-left: 100px">
                <img class="left" src="/static/build/img/percent.png" alt="">
                <div class="msg left">
                    <h2 class="val">{{ daily_page1.tz_zh }}%</h2>
                    <p class="bold">当日投资转化率</p>
                    <p>(当日新增投资人数/当日注册人数）</p>
                </div>
            </div>
            <div class="info right" style="margin-right: 100px">
                <img class="left" src="/static/build/img/account.png" alt="">
                <div class="msg left">
                    <h2 class="val">{{ daily_page1.tz_j }}万</h2>
                    <p class="bold">当日投资金额</p>
                    <p>(新增投资金额{{ daily_page1.xztz_j }}万，占比{{ daily_page1.xztz_j_zb }}%)</p>
                    <p>平均每人投资<span class="val">{{ daily_page1.pg_tz_j }}万</span></p>
                </div>
            </div>
            <div class="left" style="width: 1400px;">
                <div class="info left" style="margin-left: 500px;">
                    <img class="left" style="height: 70px;" src="/static/build/img/register.png" alt="">
                    <div class="msg left">
                        <h2 class="val">{{ daily_page1.sm_r }}</h2>
                        <p class="bold">当日新增实名人数</p>
                    </div>
                </div>
            </div>
            <div class="info left" style="margin-left: 100px">
                <img class="left" style="height: 48px;" src="/static/build/img/people.png" alt="">
                <div class="msg left">
                    <h2 class="val">{{ daily_page1.zhu_r }}</h2>
                    <p class="bold">当日注册人数</p>
                </div>
            </div>
            <div class="info right" style="margin-right: 100px">
                <img class="left" src="/static/build/img/person.png" alt="">
                <div class="msg left">
                    <h2 class="val">{{ daily_page1.tz_r }}</h2>
                    <p class="bold">个当日投资人数</p>
                    <p>(当日新增投资{{ daily_page1.xztz_r }}人)</p>
                    <p>(其中有{{ daily_page1.tj_r }}人来自推荐)</p>
                </div>
            </div>
        </div>
    </div>
    <div id="page2" class="daily-container">
        <div class="head">
            <div class="daily-tag left">
                <img src="/static/build/img/daily_tag.png" alt="">
            </div>
            <h1 class="title left">平台数据</h1>
            <img class="rz-log right" src="/static/build/img/rz_log.png" alt="">
            <form action="/crm/daily/#page2" method="POST">
                {% csrf_token %}
                <input id="search-daily" type="submit" class="right search" value="查询">
                <input type="text" class="datepicker right search" name="qdate" placeholder="{{ daily_page1.qdate }}">
            </form>
            <div class="clear"></div>
        </div>
        <div class="body">
            <div class="left" id="main" style="width: 1000px;height: 500px;margin-top: 80px;"></div>
        </div>
    </div>
</div>
<script src="/static/plugins/jquery-1.12.4.js"></script>
<script src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/static/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="/static/plugins/echarts.js"></script>
<script src="/static/build/js/common.js"></script>
<script src="/static/build/js/daily.js"></script>
<script type="text/javascript">
    var dom = document.getElementById("main");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    app.title = '折柱混合';
    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        legend: {
            data: ['注册人数', '新增投资转化率', '新增投资人数']
        },
        xAxis: [
            {
                type: 'category',
                data: ['8月16日', '8月17日', '8月18日', '8月19日', '8月20日', '8月21日', '8月22日', '8月23日'],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '人数',
                axisLabel: {
                    formatter: '{value}'
                }
            },
            {
                type: 'value',
                name: '转化率',
                axisLabel: {
                    formatter: '{value} %'
                }
            }
        ],
        series: [
            {
                name: '注册人数',
                type: 'bar',
                data: [548, 536, 422, 383, 337, 356, 323, 305],
                label: {
                    normal: {
                        show: true,
                        position: 'inside'
                    }
                }
            },
            {
                name: '新增投资人数',
                type: 'bar',
                data: [214, 191, 180, 116, 91, 139, 16, 195],
                label: {
                    normal: {
                        show: true,
                        position: 'inside'
                    }
                }
            },
            {
                name: '新增投资转化率',
                type: 'line',
                yAxisIndex: 1,
                data: [39.05, 35.63, 42.65, 30.29, 27.00, 39.04, 4.95, 63.93],
                label: {
                    normal: {
                        show: true,
                        position: 'inside',
                        formatter: '{c}%'
                    }
                }
            }
        ]
    };
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>
</body>
</html>