<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/static/build/img/favicon.ico">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" href="/static/plugins/sweetalert-master/dist/sweetalert.css">
    {% block css %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}

<script src="/static/plugins/jquery-1.12.4.js"></script>
<script src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/static/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="/static/plugins/sweetalert-master/dist/sweetalert-dev.js"></script>
<script src="/static/plugins/echarts.js"></script>
<script src="/static/build/js/common.js"></script>

{% block js %}{% endblock %}
</body>
</html>