<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/static/build/img/favicon.ico">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" href="/static/build/css/layout.css">
    {% block css %}{% endblock %}
</head>
<body>
<div class="pg-header">
    <img class="logo" src="/static/build/img/admin_logo.png" alt="">
    <div class="container right">
        <div class="icon right">
            <img src="/static/build/img/breakering.jpg" alt="">
            <div class="settings">
                <a class="setting-line" href="http://www.baidu.com">我的信息</a>
                <a class="setting-line" href="http://www.baidu.com">设置</a>
                <a class="setting-line" href="/crm/logout/">注销</a>
            </div>
        </div>
        <div class="header-menu right">
            <a href="/crm/daily/">日报界面</a>
        </div>
    </div>
</div>
<div class="pg-nav">
    <div class="left menu-line" style="height: 48px; line-height: 48px;"><a
            href="/crm/index/">Welcome {{ username }}</a></div>
    <div>
        <div class="left menu-line" style="line-height: 48px;">
            <div class="left menu-title">
                <span class="left">首页</span>
                <span class="right">+</span>
            </div>
            <div class="menu-content">
                <a class="left menu" href="#">仪表盘</a>
                <a class="left menu" href="#">详情</a>
            </div>
        </div>
        <div class="left menu-line" style="line-height: 48px;">
            <div class="left menu-title">
                <span class="left">第三方对接</span>
                <span class="right">+</span>
            </div>
            <div class="menu-content">
                <a class="left menu" href="/crm/wdzj/?u={{ username }}">网贷之家</a>
                <a class="left menu" href="#">网贷天眼</a>
            </div>
        </div>
    </div>
</div>
<div class="pg-content">
    {% block content %}{% endblock %}
</div>
<script src="/static/plugins/jquery-1.12.4.js"></script>
<script src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/static/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script>
    $(function () {
        $(".menu-title").click(function () {
            $(this).next(".menu-content").slideToggle(300).parent().siblings().children(".menu-content").slideUp(600);
            var sign = $(this).children(":eq(1)").text();
            if(sign === "+"){
                $(this).children(":eq(1)").text("-");
                $(this).parent().siblings().each(function () {
                    $(this).children(".menu-title").children(":eq(1)").text("+");
                })
            }else{
                $(this).children(":eq(1)").text("+");
            }
        })
    })
</script>
{% block js %}{% endblock %}
</body>
</html>