{% extends "index.html" %}
{% block right-container %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block right-container-content %}
            <h2 class="page-header">当天实时数据</h2>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <div class="cycle-display" style="background-color: #1e90d7;color: white">
                        {{ home_dict.zhu_r }}
                    </div>
                    <h4>注册人数</h4>
                    <span class="text-muted"></span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <div class="cycle-display" style="background-color: #43daad;">
                        {{ home_dict.sm_r }}
                    </div>
                    <h4>实名人数</h4>
                    <span class="text-muted"></span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <div class="cycle-display" style="background-color: #1e90d7;color: white">
                        {{ home_dict.tz_r }}
                    </div>
                    <h4>投资人数</h4>
                    <span class="text-muted"></span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <div class="cycle-display" style="background-color: #43daad;">
                        {{ home_dict.amount }}
                    </div>
                    <h4>投资金额</h4>
                    <span class="text-muted"></span>
                </div>
            </div>
            <h2 class="sub-header">其它概况</h2>
            <div class="row">
                <div class="col-lg-6 echart" id="current_amount" style="height: 480px;"></div>
                <div class="col-lg-6" id="recover_amount" style="height: 480px;"></div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
{% block js %}
    <!-- 当天投资js开始 -->
    <script type="text/javascript">
        var dom = document.getElementById("current_amount");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        app.title = '折柱混合';
        option = {
            title: {
                text: "当天投资详情" //正标题
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            legend: {
                data: ['供应链金融投资额', 'R计划自动续投金额', '非R计划自动续投消费金融投资额']
            },
            xAxis: [
                {
                    type: 'category',
                    data: ["当天投资额"],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '金额',
                    axisLabel: {
                        formatter: '{value}'
                    },
                    splitLine: {
                        show: false
                    }
                }
            ],
            series: [
                {
                    name: '供应链金融投资额',
                    type: 'bar',
                    stack: '供应链金融',
                    barWidth: 200,//柱图宽度
                    data: [{{ home_dict.g_amount }}],
                    itemStyle: {
                        normal: {color: '#31859c'}
                    },
                    label: {
                        normal: {
                            show: true,
                            position: 'inside',
                            fontSize: 15,  //文字大小
                            fontWeight: 'bold'  //文字粗细
                        }
                    }
                },
                {
                    name: 'R计划自动续投金额',
                    type: 'bar',
                    stack: '消费金融',
                    barWidth: 200,//柱图宽度
                    data: [{{ home_dict.r_auto_amount }}],
                    itemStyle: {
                        normal: {color: '#d99694'}
                    },
                    label: {
                        normal: {
                            show: true,
                            position: 'inside',
                            fontSize: 15,  //文字大小
                            fontWeight: 'bold'  //文字粗细
                        }
                    }
                },
                {
                    name: '非R计划自动续投消费金融投资额',
                    type: 'bar',
                    stack: '消费金融',
                    barWidth: 200,//柱图宽度
                    itemStyle: {
                        normal: {color: '#e46c0a'}
                    },
                    data: [{{ home_dict.un_r_auto_x_amount }}],
                    label: {
                        normal: {
                            show: true,
                            position: 'inside',
                            formatter: '{c}',
                            fontSize: 15,  //文字大小
                            fontWeight: 'bold'  //文字粗细
                        }
                    }
                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
    <!-- 当天投资js结束 -->

    <!-- 回款js开始 -->
    <script type="text/javascript">
        var dom = document.getElementById("recover_amount");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        app.title = '折柱混合';
        option = {
            title: {
                text: "回款详情" //正标题
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            legend: {
                data: ['非R计划自动续投回款金额']
            },
            xAxis: [
                {
                    type: 'category',
                    data: ["昨天", "今天", "明天"],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '金额',
                    axisLabel: {
                        formatter: '{value}'
                    },
                    splitLine: {
                        show: false
                    }
                }
            ],
            series: [
                {
                    name: '非R计划自动续投回款金额',
                    type: 'bar',
                    barWidth: 100,//柱图宽度
                    data: {{ home_dict.un_r_auto_recover_account_list | safe }},
                    itemStyle: {
                        normal: {color: '#31859c'}
                    },
                    label: {
                        normal: {
                            show: true,
                            position: 'inside',
                            fontSize: 15,  //文字大小
                            fontWeight: 'bold'  //文字粗细
                        }
                    }
                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
    <!-- 回款js结束 -->
{% endblock %}

