{% extends "base.html" %}

{% block body %}

    {% block nav-bar %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/crm/">DataManagement</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">{{ request.user.userprofile.name }}<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout/">logout</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
    <div class="container-fluid">
        <div class="row">
            {% block side-bar %}
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        {% block side-bar-menus %}
                            {% for role in request.user.userprofile.roles.all %}
                                {% for menu in role.menus.all %}
                                    <li style="text-align: center;">
                                        <a href="{% if menu.url_type == 0 %}{% url menu.url_name %}
                                        {% else %}{{ menu.url_name }}{% endif %}">{{ menu.name }}</a>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        {% endblock %}
                    </ul>
                </div>
            {% endblock %}
            {% block right-container %}
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    {% block right-container-content %}

                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>

{% endblock %}


